$header-height: 500px;

@import "./animations.scss";

.header {
  width: 100%;
  height: $header-height;

  .background {
    background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    background-size: 110%;

    @media (max-width: 1000px) {
      background-size: auto;
    }

    .text {
      background: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center top fixed;
      -webkit-background-clip: text;
      color: transparent;
      background-size: 110%;
      font-size: 14vmin;
      display: flex;
      justify-content: flex-end;
      height: 80%;
      align-items: center;
      margin: 0 50px;
      text-align: start;
      font-family: cursive;
      line-height: 1.2;
      word-spacing: 100vw;
      font-variant: petite-caps;
      user-select: none;
      animation: header-animation 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    .stars {
      $offset: 15px;
      @function generate-random-stars ($screen-width, $color, $density) {

        $h-shadow: random($screen-width);
        $v-shadow: random($header-height - $offset);

        $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
        @for $i from 2 through $density {
          $h-shadow: random($screen-width);
          $v-shadow: random($header-height - $offset);

          $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
        }
        @return unquote($stars);
      }

      @mixin stars-content($screen-width, $color, $density, $speed, $delay) {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        opacity: 0;
        box-shadow: generate-random-stars($screen-width, $color, $density);
        animation-name: glowing-stars;
        animation-duration: $speed+s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-delay: $delay+s;
      }

      body {
        background: #000;
      }

      #stars-group-1 {
        @include stars-content(2600, #fff, 200, 1, 0);
      }

      #stars-group-2 {
        @include stars-content(2600, #fff, 200, 1, 0.1);
      }

      #stars-group-3 {
        @include stars-content(2600, #fff, 200, 1, 0.2);
      }

      #stars-group-4 {
        @include stars-content(2600, #fff, 200, 1, 0.3);
      }

      #stars-group-5 {
        @include stars-content(2600, #fff, 200, 1, 0.4);
      }

      #stars-group-6 {
        @include stars-content(2600, #fff, 200, 1, 0.5);
      }
    }
  }
}
