<div class="container">

  <div class="title"
       #Title intersection-observer (onVisible)="cssInjector.inject(Title, 'scale-in-center')" style="opacity: 0">
    Articles
  </div>

  <ng-container *ngFor="let page of ((mdService.markdownsHeaders$ | async) | slice: lowValue : highValue)">
    <div #Element intersection-observer (onVisible)="cssInjector.inject(Element, 'scale-in-center')"
         style="opacity: 0" [routerLink]="['/articles/', page.title]">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{page.title}}</mat-card-title>
          <mat-card-subtitle>{{page.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{page.summary}}...</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-chip-list>
            <mat-chip *ngFor="let chip of page.tags">{{chip}}</mat-chip>
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>
    </div>

  </ng-container>

  <mat-paginator [length]="(mdService.markdownsHeaders$ | async)?.length"
                 [pageSize]="PageSize" [showFirstLastButtons]="true"
                 [pageIndex]="0" (page)="getPaginatorData($event)">
  </mat-paginator>
</div>
