:host ::ng-deep {
  p, code, li {
    font-size: 18px !important;
    line-height: 24px;
  }

  a {
    color: purple;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding-top: 15px;
  }

  h1 {
    font-size: 45px !important;
  }

  h2 {
    font-size: 40px !important;
  }

  h3 {
    font-size: 35px !important;
  }

  h4 {
    font-size: 30px !important;
  }

  h5 {
    font-size: 25px !important;
  }

  h6 {
    font-size: 20px !important;
  }

  code {
    //background-color: rgb(241, 241, 241);
    border-radius: 6px;
  }

  blockquote {
    position: relative;
    margin: 20px auto;
    padding-left: 40px;
    border-left: 2px solid black;
    color: #191919;
  }

  blockquote p {
    opacity: 0.8;
  }

  blockquote:hover p {
    opacity: 0.6;
  }

  img {
    max-width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  pre {
    background: #424242;
  }
}
