.container {
  width: 100%;
  min-height: 400px;
  background-color: darkslategrey;

  .title {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 50px 0;
  }
}

